html {
    background-color: #f2f7ff;
}

.contact_form {
    max-width: 640px;
    margin: auto;
}

.contact_form_google {
    width: 100%;
}

/* Googleフォームをレスポンシブできれいに見せる */
@media screen and (max-width: 900px) {
    .container {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 150%;
    }

    .responsive_iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}